/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --accent-color: #353430;
  --background-color: #FFF1F7;
  --highlight-color: #FF8DCB;
  --title-color: #353430;
  --header-color: #FFC2E6;
  --text-size-m: 18px;
  --background-image: url(../images//cover-image-light.png);
  --hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --accent-color: #353430;
    --background-color: #FFF1F7;
    --highlight-color: #FF8DCB;
    --title-color: #353430;
    --header-color: #FFC2E6;
    --text-size-m: 18px;
    --background-image: url(../images//cover-image-light.png);
    --hover: rgba(50, 49, 45, 0.4);
  }

  .theme_auto .head-decor {
    display:none;
  }
  
  .theme_auto .head-decor::after {
    display:none;
  }
  
  .theme_auto .head-decor::before {
    display:none;
  }
}

.theme_light .head-decor {
  display:none;
}

.theme_light .head-decor::after {
  display:none;
}

.theme_light .head-decor::before {
  display:none;
}