/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #F1B2CE;
  --accent-color: #000028;
  --background-color: #000028;
  --highlight-color: #FF0070;
  --title-color: #FF0070;
  --header-color: #DB00FF;
  --text-size-m: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --hover: rgba(255, 0, 112, 0.4)
}
